<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Перемикачі (radiobutton)</title>
</head>
<body>
	<div id="app">
		<input type="radio" value="Tom" v-model="user"/>
		<label>Tom</label>
		<br>
		<input type="radio" value="Bob" v-model="user"/>
		<label>Bob</label>
		<br>
		<input type="radio" value="Sam" v-model="user"/>
		<label>Sam</label>
		<br>
		<span>Вибрано: {{ user }}</span>
	</div>
	<script src="https://unpkg.com/vue"></script>
	<script>
		var app = new Vue({
			el : '#app', // кореневий елемент додатка (div з id "app" - область Vue.js)
			data : {
				user : ''
			} // data
		}); // Vue obj app (ініціалізація додатка)
	</script>
</body>
</html>