<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Сеттери</title>
</head>
<body>
	<div id="app">
		<input type="text" v-model="firstname"/><br><br>
		<input type="text" v-model="lastname"/><br><br>
		<input type="text" v-model="fullname"/><br><br>
		<p>Ім'я {{ fullname }}</p>
	</div>
	<script src="https://unpkg.com/vue"></script>
	<script>
		var app = new Vue({
			el : '#app', // кореневий елемент додатка (div з id "app" - область Vue.js)
			data : { firstname : 'Tom', lastname : "Smith" }, // data (використані дані, дані, які має зберігати додаток, тобто його стан)
			computed : {
				fullname : {
					get : function (){
						return this.firstname + ' ' + this.lastname;
					}, // get
					set : function ( newValue ){
						var names = newValue.split( ' ' );
						this.firstname = names[ 0 ];
						this.lastname = names[ names.length - 1 ];
					} // set
				} // fullname
			}, // computed (розрахункові значенн)
			methods : {
				checkAge : function (){
					console.log ( "method" );
					if ( this.age > 17 ) return "Доступ дозволено";
					else return "Доступ заборонено";
				} // checkAge
			} // methods
		}); // Vue obj (ініціалізація додатка)
	</script>
</body>
</html>